<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="heading">
            <h3>Navigation</h3>
        </li>
        <li class="nav-item" ><a href="javascript:;">
                <i class="icon-globe"></i> <span class="title">Work Flow</span> <span
                class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item" >
                    <a href="javascript:;">
                       <i class="icon-globe"></i> <span> 1 : New Project </span><span class="arrow "></span>
                    </a>

                    <ul class="sub-menu">
                        <li><a ui-sref="app.newProject"> <i
                                class="icon-globe"></i> Chapter Wise</span>
                        </a></li>
                        <li><a ui-sref="app.newQuickProject"> <i
                                class="icon-globe"></i> Automatic Split</span>
                        </a></li>
                        

                    </ul>
                </li>
                <li><a ui-sref="app.workflowEmail({id: 1})"> 
                    <i class="icon-globe"></i>2 : Proof Reader Email</span>
                    </a>
                </li>

                <li><a ui-sref="app.dashboard({id: 1})"> 
                    <i class="icon-globe"></i>3 : Proof Reader Dashboard </span>
                    </a>
                </li>

                <li><a ui-sref="app.workflowEmail({id: 2})"> 
                    <i class="icon-globe"></i>4 : Validator Email</span>
                    </a>
                </li>

                <li><a ui-sref="app.dashboard({id: 2})"> 
                    <i class="icon-globe"></i>5 : Validator Dashboard </span>
                    </a>
                </li>

                 <li><a ui-sref="app.compilerEmail({id: 1})"> 
                    <i class="icon-globe"></i>6 : Compiler Email</span>
                    </a>
                </li>

                <!--<li><a ui-sref="app.compilerDashboard({id: 2})"> -->
                    <!--<i class="icon-globe"></i>7 : Compiler Dashboard</span>-->
                    <!--</a>-->
                <!--</li>-->

                <li><a ui-sref="app.compilerSubProject({id: 2})"> 
                    <i class="icon-globe"></i>7 : Compiler Action</span>
                    </a>
                </li>

            </ul>
        </li>


        <li class="start nav-item">
            <a ui-sref="app.dashboard({id: 1})" role="link" aria-label="dashboard">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
         <li class="start nav-item">
            <a ui-sref="app.organizations" aria-label="organizations">
                <i class="icon-puzzle"></i>
                <span class="title">Organizations</span>
            </a>
        </li>
        <li class="start nav-item">
            <a ui-sref="app.projects" aria-label="projects">
                <i class="icon-drawer"></i>
                <span class="title">Projects</span>
            </a>
        </li>
         <li class="start nav-item">
            <a ui-sref="app.users" aria-label="users">
                <i class="icon-user"></i>
                <span class="title">Users</span>
            </a>
        </li>
         <li class="start nav-item">
            <a ui-sref="app.roles" aria-label="roles">
                <i class="icon-layers"></i>
                <span class="title">Roles</span>
            </a>
        </li>
         <li class="start nav-item">
            <a ui-sref="app.approvals" aria-label="approvals">
                <i class="icon-docs"></i>
                <span class="title">Approvals</span>
            </a>
        </li>
        
       
    </ul>
    <!-- END SIDEBAR MENU -->
</div>