<div class="modal-header">
    <h3 class="modal-title">Edit Role: </h3>
</div>
<div class="modal-body">
    
    <form name="vm.roleForm" role="form">

         <div class="form-body">
           <div class="form-group" ng-class="{'has-error':vm.roleForm.name.$dirty && vm.roleForm.name.$invalid}">
                <label class=" control-label">Role</label>
               
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-home"></i>
                        </span>
                        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="$ctrl.role.name" required="" aria-describedby="name"  > </div>
                
            </div>  
        </div>               

    </form>                    
</div>
<div class="modal-footer">
    <button class="btn  green-jungle" ng-diabled="$ctrl.role.name.length == 0" ng-click="$ctrl.ok('','roleUpdate')">Ok</button>
</div>