<div class="row" >
    <div class="col-md-12">

    	<div class="portlet">
    		<div class="portlet-body">


    			<table class="table table-striped table-bordered table-hover">
					<thead>
						<th>Date</th>
						<th>Changes</th>						
						<th>Available Pages</th>
						<th>Benificary Organization</th>
						<th>Quota Expiry</th>
						<th>Actions</th>

					</thead>	
					<tbody>
						<tr class="odd gradeX" ng-repeat="row in vm.changeLogs">
							
							<td>
								{{ row.date |  date: 'dd-MM-yyyy'  }}
							</td>
							<td>
								{{ row.changes }}
							</td>	
							<td>
								{{row.quota}}
							</td>						
							<td>
								{{ row.organization }}
							</td>
							<td>
								{{ row.date |  date: 'dd-MM-yyyy' }}
							</td>
							<td >
								{{ row.actions }}
							</td>
						</tr>
					</tbody>	
				</table>

				<div class="clearfix"></div>



    		</div>
    	</div>


    </div>
</div>