      <div class="modal-header">
            <h3 class="modal-title">Select User: </h3>
        </div>
        <div class="modal-body">
			
                  <input type="text" ng-model="$ctrl.subjectUser"              
                                placeholder="Assign user"
                                uib-typeahead="user as user.name for user in $ctrl.getUsers($viewValue)"
                                typeahead-loading="loading" typeahead-no-results="noResults"
                                typeahead-min-length="3" typeahead-on-select="vm.onUserChange(ctrl.subjectUser)" class="form-control " maxlength="10">

        </div>
        <div class="modal-footer">
            <button class="btn  green-jungle" ng-click="$ctrl.ok('','AssignUser')">Ok</button>
        </div>