    <div class=" login">
        <!-- BEGIN LOGO -->
         <div class="logo">
<!--             <a href="index.html"> -->
            <h2 style="color: white;"><b>Forgot Password</b></h2>
<!--                 <img src="assets/pages/img/logo-big-white.png" style="height: 17px;" alt="" /> </a> -->
        </div>
        <!-- END LOGO -->
        <div class="content">
            <!-- BEGIN FORGOT PASSWORD FORM -->
            <ng-form class="login-form"  name="vm.forgotForm"  action="index.html" method="post">
                <div class="form-title">
                    <span class="form-title">Forget Password ?</span>
                    <span class="form-subtitle">Enter your registered Mobile</span>
                </div>
                <div class="form-group" ng-class="{'has-error':vm.forgotForm.mobile.$dirty && vm.forgotForm.mobile.$invalid}">
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Mobile" name="mobile" ng-model="mobile" required/>
                    <span style="color:red" ng-show="vm.forgotForm.mobile.$dirty && vm.forgotForm.mobile.$invalid">
						<span ng-show="vm.forgotForm.mobile.$error.required">Mobile is required.</span>
						</span> 
                   <!--  <span class="error text-small block"
                ng-if="vm.forgotForm.mobile.$dirty && vm.forgotForm.mobile.$error.required">Mobile is required</span> -->
                
                </div>
                
                <div class="form-actions">
                    <a ui-sref="auth.signin" class=" btn red uppercase pull-left">Back</a>
                    <a ng-click="vm.forgotPassword(mobile)" class=" btn green-jungle uppercase pull-right">Submit</a>
                </div>
              
            </ng-form>
            <!-- END FORGOT PASSWORD FORM -->
        </div>
        <div class="copyright hide"> 2017 © Metronic. Admin Dashboard Template. </div>
    </div>