    <div class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
<!--             <a href="index.html"> -->
            <h2 style="color: white;"><b>BPW</b></h2>
<!--                 <img src="assets/pages/img/logo-big-white.png" style="height: 17px;" alt="" /> </a> -->
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <ng-form ng-submit="vm.signin()" class="login-form" novalidate name="loginForm">
                <div class="form-title">
                    <span class="form-title">Welcome.</span>
                    <span class="form-subtitle">Please signup.</span>
                </div>
               <div class="alert alert-danger" ng-hide="vm.validFromServer">
                    <button class="close" data-close="alert"></button>
                    <span> Invalid mobile or password </span>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Organization</label>
                  
                    <input type="text" ng-model="vm.organization"              
                    placeholder="Organization name"
                    uib-typeahead="organization as organization.name for organization in vm.getOrganizations($viewValue)"
                    typeahead-loading="loading" typeahead-no-results="noResults"
                    typeahead-min-length="3" typeahead-on-select="vm.onOrganizationChange(vm.organization)" class="form-control " required>
               
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Mobile</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Mobile" name="mobile" ng-model="vm.mobile" ng-minlength="10" ng-maxlength="10" maxlength="10" required/> 
               		<span style="color:red" ng-show="loginForm.mobile.$dirty && loginForm.mobile.$invalid">
						<span ng-show="loginForm.mobile.$error.required">Mobile is required.</span>
						<span ng-show="loginForm.mobile.$error.minlength">Mobile should be of 10 digits.</span>
						<span ng-show="loginForm.mobile.$error.maxlength">Mobile should be of 10 digits.</span>
					</span>
               	</div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="email" name="email" ng-model="vm.email" required/> 
                    <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                        <span ng-show="loginForm.email.$error.required">Email is required.</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"  name="password" ng-model="vm.password" required />
                    <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
						<span ng-show="loginForm.password.$error.required">Password is required.</span>
					</span> 
                </div>
                 <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password"  name="cpassword" ng-model="vm.cpassword" required />
                    <span style="color:red" ng-show="loginForm.cpassword.$dirty && loginForm.cpassword.$invalid">
                        <span ng-show="loginForm.cpassword.$error.required">Confirm Password is required.</span>
                    </span> 
                </div>
                <div class="form-actions">
                    <button type="button" ng-click="vm.signup()" class="btn green-jungle btn-block uppercase">Signup</button>
                </div>
                <div class="form-actions">
                    <!-- <div class="pull-left">
                        <label class="rememberme mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="remember" ng-model="vm.rememberMe" /> Remember me
                            <span></span>
                        </label>
                    </div> -->
                    <div class="text-center forget-password-block">
                        <a ui-sref="auth.signin" href="#" class="forget-password"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to login</a>
                    </div>
                </div>  

                            
            </ng-form>
            <!-- END LOGIN FORM -->
        </div>
        <div class="copyright hide"> 2014 © Metronic. Admin Dashboard Template. </div>
    </div>