<div class="row" >
    <div class="col-md-12">
    	<div class="portlet">
    		<div class="portlet-body"> 
    			<br>

    			<div id="info" ng-if="!vm.infoEditMode">

			    	<div class="col-xs-6">
						<table class="table" width='0' border='0' align='right'
							cellpadding='0' cellspacing='0'>
							<tbody>
								<tr >
									<td align='left' valign='top'
										style='color: #404041; font-size: 16px; line-height: 16px; padding: 5px 0px 3px 0px; border: none;'>
										<strong>Name:</strong>
									</td>
									<td width='40%' align='right' valign='top'
										style='color: #404041; font-size: 16px; line-height: 24px; padding: 5px 5px 3px 5px; border: none;'>
										 {{vm.reseller.name}}</td>
								</tr>	
								<tr >
									<td align='left' valign='top'
										style='color: #404041; font-size: 16px; line-height: 24px; padding: 5px 0px 3px 0px; border: none;'>
										<strong>Contact:</strong>
									</td>
									<td width='40%' align='right' valign='top'
										style='color: #404041; font-size: 16px; line-height: 24px; padding: 5px 5px 3px 5px; border: none;'>
										 {{vm.reseller.contact}}</td>
								</tr>	
								<tr >
									<td align='left' valign='top'
										style='color: #404041; font-size: 16px; line-height: 24px; padding: 5px 0px 3px 0px; border: none;'>
										<strong>Mobile:</strong>
									</td>
									<td width='40%' align='right' valign='top'
										style='color: #404041; font-size: 16px; line-height: 24px; padding: 5px 5px 3px 5px; border: none;'>
										 {{vm.reseller.mobile}}</td>
								</tr>	
								<tr >
									<td align='left' valign='top'
										style='color: #404041; font-size: 16px; line-height: 24px; padding: 5px 0px 3px 0px; border: none;'>
										<strong>Email:</strong>
									</td>
									<td width='40%' align='right' valign='top'
										style='color: #404041; font-size: 16px; line-height: 24px; padding: 5px 5px 3px 5px; border: none;'>
										 {{vm.reseller.email}}</td>
								</tr>				
							</tbody>
						</table>
						<br />
						<div class="row">
                                <div class="col-md-offset-3 col-md-9 text-right">
                                    <button type="button" role="button" aria-lable="edit" class="btn green" ng-click="vm.infoEditMode = !vm.infoEditMode">Edit</button>                                   
                                </div>
                            </div>
					</div>

					<div class="clearfix"></div>
				</div>
				

				<div id="edit-info" ng-if="vm.infoEditMode">
					<div class="col-md-6 col-md-offset-2">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                    <form class="form-horizontal" role="form" name="vm.resellerForm" ng-submit="vm.onSubmit(vm.resellerForm)" >
                        <div class="form-body">
                           <div class="form-group" ng-class="{'has-error':vm.resellerForm.name.$dirty && vm.resellerForm.name.$invalid}">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-home"></i>
                                        </span>
                                        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="vm.reseller.name" required="" aria-describedby="name"  > </div>
                                </div>
                            </div>

                            
                            <div class="form-group" ng-class="{'has-error':vm.resellerForm.contact.$dirty && vm.resellerForm.contact.$invalid}">
                                <label class="col-md-3 control-label">Contact</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                    	 <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" name="contact" class="form-control" placeholder="Contact" ng-model="vm.reseller.contact" required="" aria-describedby="contact"  >
                                       
                                    </div>
                                </div>
                            </div>

                             <div class="form-group" ng-class="{'has-error':vm.resellerForm.mobile.$dirty && vm.resellerForm.mobile.$invalid}">
                                <label class="col-md-3 control-label">Mobile</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            <input id="mobile" class="form-control" type="text" name="mobile" placeholder="Mobile" ng-model="vm.reseller.mobile" ng-pattern="/^[789]\d{9}$/" maxlength="10" required aria-describedby="mobile" > </div>
                                        <span class="input-group-btn">
                                            <button id="search" class="btn btn-success" type="button" ng-click="vm.search(vm.reseller.mobile)" role="button" aria-label="search with mobile">
                                                <i class="fa fa-arrow-left fa-fw"></i> Search</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':vm.resellerForm.email.$dirty && vm.resellerForm.email.$invalid}">
                                <label class="col-md-3 control-label">Email Address</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="vm.reseller.email" required aria-describedby="email" > </div>
                                </div>
                            </div>
                                      

                           
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9 text-center">
                                    <button type="submit" class="btn green" ng-disabled="vm.resellerForm.$invalid">Submit</button>
                                    <button type="button" class="btn default" ng-click="vm.infoEditMode = !vm.infoEditMode">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                                                        
                </div>
                <div class="clearfix"></div>

				</div>	
			</div>
		</div>
    </div>
</div>